body{
    background-image: url(../Class/images/images/landing-page-background-5_1900x765-1024x412.png);
    background-repeat: repeat;

}

button{
    height: 80px;
    width: 500px;
    background-color:rgb(15, 90, 166);
    border-radius: 50px;
    margin-left: 480px;
    margin-top: 60px;
    box-shadow: 4000px;
    border-color: rgb(189, 191, 102);
    border-width: 10px;
}
.menu{
    text-align: right;
    font-size: 20px;
    justify-content: space-between;
    
    
}
span{
    font-size: 30px;
    color: white;
    font-weight: 1000px;
}
h1{
    color: rgb(15, 117, 148);
    text-align: center;
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2000px;
    
}
h2{
    color: white;
    font-style: italic;
    font-size: 30px;
    font-weight: 2000px;
    text-align: center;
    margin-top: 0%;
}