*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: gray;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    place-items: center;
    height: 100vh;
    width: 100%;
}

input{
    height: 200px;
    width: 400px;
    margin: 30px;
    background-color: rgb(197, 209, 180);
    border: none;
    font-size: 40px;
}
button{
    height: 70px;
    width: 400px;
    margin: 30px;
    background-color: rgb(138, 113, 113);
    font-size: 30px;
    cursor: pointer;
}
p, h1{
    margin-left: 30px;
    font-size: 25px;
}