nav {
    display: flex;
}
ul{
    display: flex;
    margin-left: 600px;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 12px;
    background-color: aliceblue;
}
h1{
    font-family: cursive;
    margin: 100px;
    font-size: 40px;
    font-weight: bolder;
}