body{
    margin: 0;
    padding: 0 5%;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2% 0;
}
a{
    text-decoration: none;
    color: blue
}
h1{
    text-align: center;
    margin: 3%;
}
img{
    width: 700px;
    height: 500px;
}
.logo{
    background-color: #b5090f;
    text-align: center;
    border-radius: 50%;
    padding: 1%;
    box-shadow: 0 0 50px #047219;
}
.nav__menu__item{
    background-color: #cb349e;
    padding: 20px;
    margin-left: 20px;
    order: 3;
}
.banner{
    height: 80vh;
    width: 100%;
    background-image: url(../images/meagan-stone-r951FqxHTao-unsplash.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner__caption{
    background-color: #2e0312;
    text-align: center;
    color: #c13781;
}
.hero{
    color: #28d32e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__text{
    margin-left: 150px;
}
.hero__text__even{
    margin-right: 150px;
}